{{define "template"}}
<h1 class="center">{{T "addWater"}}</h1>
<form action="/water/add" method="POST">
	<input type="number" name="year" id="lastYear" placeholder='{{T "year"}}' required>
	<input type="number" step="1" name="volumeWater" id="volumeWater" placeholder='{{T "volumeWater"}}' required>
	<input type="number" step="1" name="volumeWastewater" id="volumeWastewater" placeholder='{{T "volumeWastewater"}}' required>
	<input type="number" step="1" name="volumeRainwater" placeholder='{{T "volumeRainwater"}}' required>
	<input type="number" step="0.01" name="costsWater" placeholder='{{T "costsWater"}}' required>
	<input type="number" step="0.01" name="costsWastewater" placeholder='{{T "costsWastewater"}}' required>
	<input type="number" step="0.01" name="costsRainwater" placeholder='{{T "costsRainwater"}}' required>
	<input type="number" step="0.01" name="payments" placeholder='{{T "payments"}}' required>
	<input type="number" step="0.01" name="fixedPrice" placeholder='{{T "fixedPrice"}}' required>
	<textarea name="note" placeholder='{{T "note"}}'></textarea>
	<input type="submit" value='{{T "save"}}' style="width:100%;">
</form>
<script>
	const volumeWater = document.getElementById("volumeWater");
	const volumeWastewater = document.getElementById("volumeWastewater");
	volumeWater.addEventListener("input", () => {
		volumeWastewater.value = volumeWater.value;
});
</script>
{{end}}