<!DOCTYPE html>
<html lang='{{T "language"}}'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{T "editWater"}}</title>
  <link rel="icon" type="image/x-icon" href="/web/assets/favicon.ico">
  <link rel="manifest" href="/web/manifest.json">
  <link rel="stylesheet" href="/web/css/pico.min.css">
  <link rel="stylesheet" href="/web/css/center.css">
  <link rel="stylesheet" href="/web/assets/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/web/assets/fontawesome/css/solid.min.css">
  <script src="/web/js/format.js" defer></script>
</head>

<body>

  <header class="container">
    <nav>
      <ul>
        <li><strong>Consumption Tracker</strong></li>
      </ul>
      <ul>
        <li><a href="/electricity">{{T "electricity"}}</a></li>
        <li><a href="/oil">{{T "oil"}}</a></li>
        <li><a href="/water">{{T "water"}}</a></li>
      </ul>
    </nav>
  </header>

  <main class="container">
    <h1 class="center">{{T "editWater"}}</h1>
    <form action="/water/save/{{.Id}}" method="POST">
      <input type="number" name="year" value="{{.Year}}" placeholder='{{T "year"}}' required>
      <input type="number" step="1" name="volumeWater" value="{{.VolumeWater}}" placeholder='{{T "volumeWater"}}' required>
      <input type="number" step="1" name="volumeWastewater" value="{{.VolumeWastewater}}" placeholder='{{T "volumeWastewater"}}' required>
      <input type="number" step="1" name="volumeRainwater" value="{{.VolumeRainwater}}" placeholder='{{T "volumeRainwater"}}' required>
      <input type="number" step="0.01" name="costsWater" value="{{.CostsWater}}" placeholder='{{T "costsWater"}}' required>
      <input type="number" step="0.01" name="costsWastewater" value="{{.CostsWastewater}}" placeholder='{{T "costsWastewater"}}' required>
      <input type="number" step="0.01" name="costsRainwater" value="{{.CostsRainwater}}" placeholder='{{T "costsRainwater"}}' required>
      <input type="number" step="0.01" name="payments" value="{{.Payments}}" placeholder='{{T "payments"}}' required>
      <input type="number" step="0.01" name="fixedPrice" value="{{.FixedPrice}}" placeholder='{{T "fixedPrice"}}' required>
      <textarea name="note" placeholder='{{T "note"}}'>{{.Note}}</textarea>
      <input type="submit" value='{{T "save"}}'>
    </form>
  </main>

</body>

</html>
