<!DOCTYPE html>
<html lang='{{T "language"}}'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{T "oilFillLevel"}}</title>
  <link rel="stylesheet" href="/web/css/pico.min.css">
  <link rel="stylesheet" href="/web/css/center.css">
  <link rel="stylesheet" href="/web/assets/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/web/assets/fontawesome/css/solid.min.css">
  <script src="/web/js/chart.min.js"></script>
  <script src="/web/js/format.js" defer></script>
</head>
<body>
<header class="container">
  <nav>
    <ul>
      <li><strong>Consumption Tracker</strong></li>
    </ul>
    <ul>
      <li><a href="/electricity">{{T "electricity"}}</a></li>
      <li><a href="/oil">{{T "oil"}}</a></li>
      <li><a href="/water">{{T "water"}}</a></li>
    </ul>
  </nav>
</header>

<main class="container-fluid">
  <div class="center">
    <h2>{{T "oilFillLevel"}} {{T "chart"}}</h2>
  </div>

  <canvas id="fillChart" style="margin: 20px 0;"></canvas>

  <table>
    <thead>
      <tr>
        <th>{{T "date"}}</th>
        <th>{{T "levelCm"}}</th>
        <th>{{T "level"}}</th>
      </tr>
    </thead>
    <tbody>
      {{range .OilFillLevels}}
      <tr>
        <td class="date">{{.Date}}</td>
        <td>{{printf "%.2f" .Level}} cm</td>
        <td>{{printf "%.2f" .Percentage}} %</td>
      </tr>
      {{end}}
    </tbody>
  </table>

  <form action="/oil">
    <input type="submit" value='{{T "back"}}' />
  </form>
</main>

<script>
  function formatDate(date) {
    date = new Date(date);
    const options = {year: "numeric", month: "2-digit", day: "2-digit"};
    return date.toLocaleDateString("default", options);
  }

  const fillCtx = document.getElementById('fillChart');
  new Chart(fillCtx, {
    type: 'line',
    data: {
      labels: [{{range $i, $date := .Dates}}{{if $i}}, {{end}}"{{$date}}"{{end}}],
      datasets: [{
        label: '{{T "level"}} (%)',
        data: [{{range $i, $value := .Levels}}{{if $i}}, {{end}}{{$value}}{{end}}],
        borderWidth: 2,
        backgroundColor: 'rgba(153, 102, 255, 0.2)',
        borderColor: 'rgb(153, 102, 255)',
        fill: true,
      }]
    },
    options: {
      responsive: true,
      plugins: {
        legend: { display: true, position: 'top' },
        tooltip: {
          callbacks: {
            title: (tooltipItem) => formatDate(tooltipItem[0].label),
            label: (tooltipItem) => tooltipItem.formattedValue + ' %'
          }
        }
      },
      scales: {
        y: {
          beginAtZero: true,
          max: 100,
          ticks: {
            callback: function(value) {
              return value + ' %';
            }
          }
        },
        x: {
          ticks: {
            callback: function(value) {
              return formatDate(this.getLabelForValue(value));
            }
          }
        }
      }
    }
  });
</script>
</body>
</html>
